/*START forside - info */
/* mer luft */
.EXLContentBlock1 li + li {margin-top: 1em;}
.EXLContentBlock1 h1,
.EXLContentBlock1 ul, 
.EXLContentBlock1 ol,
.EXLContentBlock1 p {margin-top: 1em;}

#hioaOriaSearchTips {
	position: relative;
}

#hioaOriaPromoImageContainer {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 2em;
	display: inline-block;
	width: 75%;
	padding: 0;
	background-color: white;
}

#hioaOriaPromoImage {
	max-width: 90%;
	margin: 0;
}

/*SLUTT forside - info */

@media screen and (max-width: 35rem) {
	/* Fjerner marg på startsiden (hioa.oria.no) */
	div#exlidHomeContainer.EXLCustomLayoutContainer {margin-left: 0;}
	.EXLContentBlock1 li {margin-left: 1.5em;}
}


@media screen and (max-width: 15rem) {

}
