/* START treffliste */
/* Søkeresultatene - annenhver trefflinje får lysegrå bakgrunn */
tr.EXLResult:nth-child(2n) {
	background-color: #f5f5f5;
}

/* I trefflisten er det på noen treff et lite utdrag fra kilden
 * Har tydeligere markert dette ved å gi litt luft over og under dette utdraget.
 * og gjøre teksten kursiv.
 * Har også gjort tekten en anelse mørkere enn standard for å ha nok kontrast med 
 * den lyseblå bakgrunnen som kommer annenhver treff.
 */
.EXLResultsList p.EXLResultSnippet {
	color: #555; margin-top: 1em; margin-bottom: 1em; font-style: italic;
}
/* Vis flere treff - måtte endre for at denne skal skille seg ut fra bakgrunnen i annenhvert treff */
.EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR {background-color: #ffc;  border: 1px solid #ccc; border-top: none; border-right: none; border-bottom-left-radius: 3em;}
.EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR span.EXLResultBgFRBR {background-image: none; background-color: transparent;}

/* SLUTT Treffliste*/

@media screen and (max-width: 35rem) {

}

@media screen and (max-width: 15rem) {

}

