/*
Error: Invalid CSS after "...{border:none;} ": expected selector or at-rule, was "{"
        on line 9 of _scss/_roundbuttons.scss
        from line 15 of _scss/HIOA.scss

4: .EXLFacetsDisplayMore a,
5: .EXLDateRangeLine .EXLSliderRefine a,
6: cite.EXLResultFRBR a,
7: #exlidFacetsLightboxContainer a,
8: #exlidFacetsLightboxContainer input.EXLReset,
9: #exlidAdvancedSearchRibbon input.submit {border:none;} {
10: border-radius: .3rem;
11: border: none;
12: }
13: 
14: /* Avgrens søket-knapper *\/

Backtrace:
_scss/_roundbuttons.scss:9
_scss/HIOA.scss:15
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:42:in `parse'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/hanson/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...{border:none;} \": expected selector or at-rule, was \"{\"\A         on line 9 of _scss/_roundbuttons.scss\A         from line 15 of _scss/HIOA.scss\A \A 4: .EXLFacetsDisplayMore a,\A 5: .EXLDateRangeLine .EXLSliderRefine a,\A 6: cite.EXLResultFRBR a,\A 7: #exlidFacetsLightboxContainer a,\A 8: #exlidFacetsLightboxContainer input.EXLReset,\A 9: #exlidAdvancedSearchRibbon input.submit {border:none;} {\A 10: border-radius: .3rem;\A 11: border: none;\A 12: }\A 13: \A 14: /* Avgrens søket-knapper */"; }
