/* eventuell meldingsbox fra bibsys med driftsmeldinger  */
div#notifierDiv {
	margin: 0;
	background-color: #ddd;
        color: black;
	border: 8px solid #E87107;
	position: relative;
}
html:root div#notifierDiv:before { 
	content: "";
	position: absolute;
	border: 1px solid black;
	left: 0; right: 0; top: 0; bottom: 0;
	box-shadow: 0 0 5px white;
}

html:root div#notifierDiv:after { 
	content: "";
	position: absolute;
	/*border: 1px solid black;*/
	left: -8px; right: -8px; top: -8px; bottom: -8px;
	/*box-shadow: 0 0 5px red inset;*/
}

