/* --- HIOA CSS BEGIN --- */
/* --- HIDE START --- */

#showhidediv, /*populære artikler*/
.EXLFacebookIframe, /*Facebook Likes*/
.EXLLanguageLink a.EXLLanguageOptionLANGse_NO, /* Samisk språk fra språkmenyen */
/*.EXLLanguageLink a.EXLLanguageOptionLANGnn_NO /* Nynorsk språk fra språkmenyen skal ikke skjules allikevel*/
.EXLSearchFieldRibbonBrowseSearchLink, /* Bla i innhold - lenken ved søkefeltet */
.EXLEShelfTileGuest .EXLUserName, /*Gjest*/
.EXLEShelfTileGuest .EXLMyAccount /*"Min konto" for gjestebruker*/
{
	display: none;
}

/*Skjul uønskede topplenker*/
#exlidMainMenuRibbon a.EXLMainMenuITEMcitationlinker, /*Bestill - kan også velges vekk i BO*/
#exlidMainMenuRibbon a.EXLMainMenuITEMtags {display:none;} /*Tagger - kan også velges vekk i BO*/

/* Send til Referanse skjules fordi det er ofte formatert feil og vi ønsker ikke at studenter skal bruke den da. */
#exlidResultsContainer .EXLButtonSendToCitation,
#exlidResultsContainer .EXLButtonSendToDelicious,
#exlidResultsContainer .EXLButtonSendToEasyBib {display:none;}

/* Skjul uønskede fasetter */
.EXLFacetContainer.facet_target_audience, /*Litterært nivå/type*/
.EXLFacetContainer.facet_music_classification, /*Musikk-klassifikasjon*/
.EXLFacetContainer.facet_instrument, /*Besetning*/
.EXLFacetContainer.facet_form_composition, /*Komposisjonstype*/
.EXLFacetContainer.facet_form_production, /*Framstillingsform*/
.EXLFacetContainer.facet_domain, /*Kilde*/
.EXLFacetContainer.facet_human_rights, /*Menneskerettighetstermer*/
.EXLFacetContainer.facet_series, /*Serie*/
.EXLFacetContainer.facet_jtitle, /*Tidsskrift*/
.EXLFacetContainer [class$="_jtitle"], /*Bug med Tidsskrift-fasett som ikke har klassen sin, så må bruke denne */
.EXLFacetContainer [class$="_jtitle"] + ol, /*Bug med Tidsskrift-fasett som ikke har klassen sin, så må bruke denne */
.EXLFacetContainer.facet_collection, /*Kilde*/
.EXLFacetContainer.facet_bibliography, /*Bibliografi*/
.EXLFacetContainer.facet_tek_words, /*TEK-ord*/
.EXLFacetContainer.facet_humord, /*Humord*/
.EXLFacetContainer.facet_geographical_subject_headings, /*Geografiske emneord*/
.EXLFacetContainer.facet_agrovoc, /*Agrovoc*/
.EXLFacetContainer.facet_udc, /*UDK*/
.EXLFacetContainer.facet_nlm, /*NLM*/
.EXLFacetContainer.facet_uio_class,/*UIO-klassifikasjon*/
#slider-range, /*Årstall slider*/
#exlidFacetSublist2, /*Liste med årstall*/
.EXLTabsRibbon .EXLReviewsTab /* Omtaler & tagger*/
{ 
    display:none;
}

/*Denne skjules et annet sted av CSS, hent frem igjen*/
  .EXLButtonSendToEndNote_Web {
     display: list-item;
}

/* Skju lukke-lenken i menyen til tidsskrift-indexen */
.EXLMainMenuITEMATOZClose {display:none;}

/* Need to adjust margins since the slider and year-list is not rendered. */
.EXLDateRangeLine {margin-bottom: .5em; margin-top: .5em;}
.EXLDateRangeText {margin-bottom: 0;}

/* Advanced Search hide day and month date ranges */
#exlidInput_drStartDay_,
#exlidInput_drStartMonth_,
#exlidInput_drEndDay_,
#exlidInput_drEndMonth_ {display:none;}

/* hide error messages, really should we do this? */
#exlidHeaderSystemFeedbackContent {display:none;}

/* --- HIDE END --- */

/* --- SHOW Things that were hidden originally... --- */
.EXLCitationLinker #exlidMainMenuContainer {display:block;}