@import 'vars';
/* --- MAINMENU START --- */

/* START hovedmeny (Nytt søk, Tagger, A-Å, Hjelp) */

/* mer luft under hovedmenyen*/
#exlidMainMenuContainer {
   padding-bottom: 1rem;
   padding-top: 1rem;
}

/* flytte lenker ned på sin egen linje, venstrestilt for å unngå layoutproblemer */

#exlidMainMenuTile {
    clear: left;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
/* samme som over */

#exlidMainMenuTile div.EXLMainMenuContainer {
    float: left;
    width: auto;
    height: 1.5rem;
    line-height: 1.5rem;
}

#exlidMainMenuRibbon {
    margin-right: 1em;
    padding: 0;
    float: left;
    margin-bottom: 5px;
	margin-left: 6em;
}

html:root #exlidMainMenuRibbon {
	margin-right: 0;
	font-size: 1.25em;
}
/* tar vekk marg og padding her. setter det på a elementet */
#exlidMainMenuRibbon li.EXLMainMenuItem {
    margin:0;padding:0; margin-left: -.5rem;
    border:none;
    height: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
}

#exlidMainMenuRibbon li span {
    border: none; padding: 0; margin:0;
}

#exlidMainMenuRibbon li.EXLMainMenuItem a {
	margin-left: .5rem; margin-right: .5rem;
	color: $link-color;
}

/* SLUTT hovedmeny (Nytt søk, Tagger, A-Å, Hjelp) */

@media screen and (max-width: $narrow-layout-breakpoint) {
   html:root #exlidMainMenuTile div.EXLMainMenuContainer {display: none;}
    html:root #exlidMainMenuTile {margin: 0;}
    html:root #exlidUserAreaRibbon {height: auto;}
}

@media screen and (max-width: 20rem) {}

/* --- MAINMENU END --- */
