@import 'vars';
/*@import '_rp_frbr';*/

@import 'rp_frbr_btn';
@import 'rp_resultscontainer_layout';
@import 'rp_narrow_results_mobile_popup';
/* --- RESULTSPAGE START --- */
/* START treffliste */
/* Søkeresultatene - annenhver trefflinje får lysegrå bakgrunn */

tr.EXLResult:nth-child(2n) {
	background-color: #f5f5f5;
}
/* I trefflisten er det på noen treff et lite utdrag fra kilden
 * Har tydeligere markert dette ved å gi litt luft over og under dette utdraget.
 * og gjøre teksten kursiv.
 * Har også gjort tekten en anelse mørkere enn standard for å ha nok kontrast med 
 * den lyseblå bakgrunnen som kommer annenhver treff.
 */


.EXLResultsList p.EXLResultSnippet {
	color: #555;
	margin: .75em 0;
	font-style: italic;
}
/* Results navigation */

.EXLTabsRibbon div li.EXLResultTab {
	margin: 0;
	padding: .5em;
	height: 2em;
}

#exlidResultsTable .EXLResultTab a {
	background-color: $button-bg;
	color: $button-fg;
	padding: $button-padding;
}

#exlidResultsTable .EXLResultTab a:hover {
	background-color: $button-hover-bg;
	color: $button-hover-fg;
	padding: $button-padding;
	text-decoration: none;
}

.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy ul {
	left: auto;
	right: 0;
	margin: 0;
	top: 2.75em;
	padding: .25em 0;
	width: auto;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
	border: 1px solid $button-bg;
	background-color: white;
}

.EXLResultsHeader div.EXLResultsNumbers li.EXLSortByLink {
	background: white;
}

#resultsNumbersTileBottom ul.EXLResultsSortByMenuShow {
	bottom: .5em;
	top: auto;
}

#resultsNumbersTile .EXLSortByLink a:hover {
	text-decoration: underline;
}

.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy {
	float: none;
	clear: both;
	font-size: 0.8em;
	/*margin: .5em auto .5em 1em;*/
	
	margin: .5em 0 .5em auto;
	/* margin shorthand: top right bottom left*/
	
	padding: .25em;
	/*width: auto;*/
	
	width: 17em;
	/*	top: 2.75em;*/
	/*width: $EXLResultsSortBy-width;*/
}

#resultsNumbersTile div.EXLResultsSortBy .EXLResultsSortByLabel,
#resultsNumbersTileBottom div.EXLResultsSortBy .EXLResultsSortByLabel {
	position: relative;
	display: inline;
	font-weight: bold;
	/*font-size: 1.25em;*/
	
	line-height: 1.5em;
	padding: .25em 1em .25em 0;
}

#resultsNumbersTile div.EXLResultsSortBy .EXLResultsSortBySelected a,
#resultsNumbersTileBottom div.EXLResultsSortBy .EXLResultsSortBySelected a {
	margin: 0;
	padding: $button-padding;
	color: $button-fg;
	background: $button-bg;
	display: inline-block;
	width: auto;
	float: right;
	position: relative;
	left: -.25em;
	clear: none;
	/*min-width: 10em;*/
	
	width: 8em;
}

#resultsNumbersTile div.EXLResultsSortBy .EXLResultsSortBySelected a:hover,
#resultsNumbersTileBottom div.EXLResultsSortBy .EXLResultsSortBySelected a:hover {
	background: $button-hover-bg;
}

.EXLResultsSortBy .EXLResultsSortByMenu .EXLResultsSortByMenuShow .EXLSortByLink {
	padding: 0;
	line-height: 2.5em;
}

.EXLResultsSortBy .EXLResultsSortByMenu .EXLResultsSortByMenuShow .EXLSortByLink a {
	display: block;
	color: $button-fg;
	background: $button-bg;
	margin: 0.25em .5em;
}

.EXLResultsSortBy .EXLResultsSortByMenu .EXLResultsSortByMenuShow .EXLSortByLink a:hover {
	color: $button-hover-fg;
	background: $button-hover-bg;
}

.EXLResultsSortByMenu .EXLResultsSortByMenuShow .EXLSortByLink.EXLSortByLinkSelected {
	color: black;
	padding: .25em 0;
}

div.EXLResultsSortBy .EXLSortByLink a {
	padding: $button-padding;
	line-height: 1.5em;
}

#resultsNumbersTile div.EXLResultsSortBy .EXLSortByLink a:hover,
#resultsNumbersTileBottom div.EXLResultsSortBy .EXLSortByLink a:hover {
	text-decoration: underline;
}

#resultsNumbersTile div.EXLResultsSortBy .EXLResultsSortBySelected a:after {
	content: " … ↳";
}

#resultsNumbersTileBottom div.EXLResultsSortBy .EXLResultsSortBySelected a:after {
	content: " … ↱";
}

li.EXLSortByLinkSelected {
	position: relative;
	z-index: 1;
	color: black;
}

li.EXLSortByLinkSelected::after {
	position: absolute;
	content: "";
	z-index: -1;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: .25em .5em;
	background-color: #eee;
	box-sizing: border-box;
	border: 1px solid rgb(0, 117, 176);
}

.EXLResultsHeader {
	text-align: center;
}

.EXLResultsHeader h1 {
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}

.EXLResultsHeader div.EXLResultsNumbers {
	width: auto;
	float: none;
}

.EXLResultsContainer .EXLResultsHeader div.EXLResultsNavigation {
	width: auto;
	float: none;
	display: block;
	margin: .5em;
	margin-bottom: 1.5rem;
	float: left;
	clear: left;
	padding: 0;
	font-size: $resultPaginationSquare-font-size;
}

#exlidResultsContainer {
	padding-bottom: 1em;
}

div.EXLResultsNavigation .EXLDisplayedCount {
	font-size: 1em;
	padding: $resultPaginationSquare-padding;
	background-color: $resultPaginationDisplayedCount-bg;
	color: $resultPaginationDisplayedCount-fg;
	width: $resultPaginationSquare-len;
	height: $resultPaginationSquare-len;
	line-height: $resultPaginationSquare-len;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	margin: $resultPaginationSquare-margin;
	border: 1px solid $resultPaginationDisplayedCount-bordercolor;
}

div.EXLResultsNavigation a.EXLBriefResultsPagination {
	font-size: 1em;
	font-weight: bold;
	background-color: $resultPaginationSquare-bg;
	color: $resultPaginationSquare-fg;
	width: $resultPaginationSquare-len;
	height: $resultPaginationSquare-len;
	line-height: $resultPaginationSquare-len;
	display: inline-block;
	margin: $resultPaginationSquare-margin;
	padding: 0;
	float: left;
	text-align: center;
}

div.EXLResultsNavigation a.EXLBriefResultsPagination a {
	padding: $resultPaginationSquare-padding;
	background-color: $resultPaginationSquare-bg;
	color: $resultPaginationSquare-fg;
	margin: 0;
	padding: 0;
	width: $resultPaginationSquare-len;
	height: $resultPaginationSquare-len;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}

div.EXLResultsNavigation a.EXLBriefResultsPagination:hover,
div.EXLResultsNavigation a.EXLBriefResultsPagination a:hover {
	background: $button-hover-bg;
	color: $button-fg;
	text-decoration: none;
}

a.EXLBriefResultsPaginationLinkPrevious {
	position: relative;
}

a.EXLBriefResultsPaginationLinkNext {
	position: relative;
}

a.EXLBriefResultsPaginationLinkPrevious:first-child::after,
a.EXLBriefResultsPaginationLinkNext:last-child::after {
	position: absolute;
	text-align: center;
	font-weight: bold;
	background: transparent;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a.EXLBriefResultsPaginationLinkPrevious:first-child::after {
	content: "<";
}

a.EXLBriefResultsPaginationLinkNext:last-child::after {
	content: ">";
}

a.EXLBriefResultsPaginationLinkPrevious img,
a.EXLBriefResultsPaginationLinkNext img {
	display: none;
}

a.EXLBriefResultsPaginationLinkPrevious:first-child:hover::after,
a.EXLBriefResultsPaginationLinkNext:last-child:hover::after {
	background: $button-hover-bg;
	color: $button-fg;
}

.EXLResultsList td.EXLSummary {
	padding: 2em 0;
	position: relative;
}

.EXLResultsList,
.EXLResultsList td {
	border-color: $results-border-color;
}

.EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
	width: auto;
}

.EXLResultsList div.EXLSummaryContainer {
	box-sizing: border-box;
	padding-right: .25em;
}

h2.EXLResultTitle {
	font-size: 1.25em;
}

.EXLResultsList h3.EXLResultAuthor {
	font-weight: bold;
	margin-bottom: .75em;
}

.EXLResultsList h2 {
	margin-bottom: .5em;
}
/* Ikon for bok og stjerne for lagre treff, dette posisjonerer dem like høyt som toppen av tittel i søketreffet */

.EXLResultsList td.EXLMyShelfStar,
.EXLResultsList td.EXLThumbnail {
	padding-top: 2.5em;
}

.EXLDetailsTabContent div.EXLDetailsLinks {
	line-height: 1.75em;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList {
	background-color: white;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li {
	height: auto;
}
.EXLTabsRibbon div li.EXLResultSelectedTab {
	border: none; 
	background-image: none;
}

/* må markere valgt fane */
#exlidResultsTable .EXLResultSelectedTab a {
    background-color: $button-hover-bg;
    color: $button-hover-fg;
}

.EXLResultTabContainer div.EXLTabHeader {
	border: 1px solid #8fb9d0;
}
.EXLTabHeader div.EXLTabHeaderContent {
padding: 0;
}

.EXLTabsRibbon {border: none;}
 html:root .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li a:link {
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	padding: .25em 0;
	margin: .25em 0;
	height: 2em;
	line-height: 1.5em;
}

.EXLTabHeaderButtonSendTo img {
	margin-left: .5em;
}

.EXLTabHeader div.EXLTabHeaderButtons li.EXLTabHeaderButtonSendTo > a {
	padding-left: 1em;
	padding-right: 1em;
}

.EXLTabHeader div.EXLTabHeaderButtons li {
background-position: center right;
}

html:root .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li a:hover {
	background-color: #abd3fa;
	text-decoration: underline !important;
}

.EXLTabsRibbon div li.EXLResultTabIconPopout {
	background-image: none;
}

/* BEGIN FIX popup - send to permanent url */
/* make sure it comes out on top, centered on the screen */
div#exliWhiteContent {z-index: 100 !important; border: none; background-color: transparent; overflow: auto;}

#exlidPopupPermalinkContainer {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    margin: auto;
    border: 1px solid gray;
    box-shadow: 0 0 2em gray;
}
.EXLPopupPermalinkContainer, .EXLPopupPermalink {max-width: 100%;}
.EXLPermalinkURL {display: block; width: auto; margin-right: 1.6em; position: relative; left: -.3em}
.EXLPermalinkURL input {display: block !important; width: 100%; padding: .1em;}
#exlidPopupPermalink .EXLPermalinkHeaderButtonCloseLabel {display: inline-block; position: relative; left: -1em;}
#exlidPopupPermalink .EXLPermalinkHeaderButtonCloseLabel:hover {text-decoration: underline;}
/* END FIX popup - send to permanent url */

/* BEGIN FIX bg fill Send til > Lenker Strekk background image til fill height */
.EXLDetailsTabContent div.EXLDetailsLinks {background-size: auto 100%;}
/* END FIX bg fill Send til > Lenker */

/* Ta høyde for å gi plass til: 'Plasseringen har endret seg' */
.EXLTabContent {padding-bottom: 2.5em}

/* siteringer og sitert av, satt inn vha js. trenger luft over */
 cite.EXLCitationTrailsIndicationContainer {padding-top: 1em;}

/* SLUTT Treffliste*/

/* TEST NEW RULES*/
#exliGreyOverlay {z-index: 100;}
div#exliWhiteContent {
    z-index: 100 !important;
    border: none;
    overflow: auto;
    position: fixed;
    top: 0 !important;
    left: 0;
    bottom: 0;
    right: 0;
	background-color: white;
    background-color: rgba(255,255,255,0.75);
    margin: 0;
    width: 100%;
    height: 100%;}

/* TEST END */

@media screen and (max-width: 35rem) {}

@media screen and (max-width: 15rem) {}
/* --- RESULTSPAGE END --- */