$button-bg: #0075B0;
$button-fg: white;
$button-hover-fg: $button-fg;
$button-hover-bg: #e67300;
$button-padding: .5em .8em;
$button-padding-half: .25em .4em;
$resultPaginationSquare-padding: 0;
$resultPaginationSquare-bg: $button-bg;
$resultPaginationSquare-fg: $button-fg;
$resultPaginationSquare-hover-fg: button-hover-fg;
$resultPaginationSquare-hover-bg: $button-hover-bg;
$resultPaginationSquare-len: 2em;
$resultPaginationSquare-margin: 0 0.4em;
$resultPaginationDisplayedCount-bg: #eee;
$resultPaginationDisplayedCount-fg: black;
$EXLResultsSortBy-width: 12em;
$results-border-color: #666;
$leftmenuwidth: 16em;