$link-color: #0075B0;
$button-bg: $link-color;
$button-fg: white;
$button-hover-fg: $button-fg;
$button-hover-bg: #e67300;
$button-padding: .5em .8em;
$button-padding-half: .25em .4em;
$resultPaginationSquare-font-size: 1em;
$resultPaginationSquare-padding: 0;
$resultPaginationSquare-bg: #eee;
$resultPaginationSquare-fg: $button-bg;
$resultPaginationSquare-hover-fg: button-hover-fg;
$resultPaginationSquare-hover-bg: $button-hover-bg;
$resultPaginationSquare-len: 2em;
$resultPaginationSquare-margin: .5em;
$resultPaginationDisplayedCount-bg: white;
$resultPaginationDisplayedCount-fg: black;
$resultPaginationDisplayedCount-bordercolor: $button-bg;
$usermenuNarrowButtonBg: #eee;
$EXLResultsSortBy-width: 12em;
$results-border-color: #666;
$leftmenuwidth: 17.5em;
$leftmenu-wide-width: $leftmenuwidth + 4em;
$leftmenu-wide-breakpoint: 70em;
$header-bg: transparent;
$footer-bg: transparent;
$wide-layout-right-space-to-edge: .75em;
$narrow-layout-breakpoint: 40em;
$ultra-narrow-layout-breakpoint: 25em;
$left-edge-margin: 2.5rem;
$orange-color: #e87107;
$btn-radius: 5px;
$searchtile-border: 5px solid #ccc;